<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mercurius</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="index.css">
  <link rel="manifest" href="manifest.json">
</head>
<body>

    {{{body}}}

</body>
</html>
