<div class="text-page">
  <h1>Mercurius</h1>
  <p>A generic web-push service - <a href="http://github.com/marco-c/mercurius/">github</a></p>
  <div id="registrationForm">
    <h2>Register machine.</h2> 
    <label for="tokenInput" id="tokenLabel">Provide your token (insert manually or scan a barcode): </label>
    <input type="text" id="tokenInput" placeholder="ddskljhlewiue98323opjwhealkdjhcdp03e"></input>
    <div id="interactive" class="viewport"></div>
    <p id="showTokenInput"><a href="#">I've got a token</a></p>
    <label for="machineName">Name your device:</label>
    <input type="text" id="machineName" autofocus></input>
    <button id="register">Register</button>
  </div>
  <div id="unregistrationForm">
    <h2>You are now registered: <span id="showMachineName"></span></h2> 
    <button id="unregister">Unregister</button>
    <p>Your token is: <span id="token"></span></p>
    <img id="tokenBarcode" src=""></img>
    <h3>Your devices:</h3>
    <ul id="machines"></ul>
  </div>
  <div id="unsupported">
    <h3>In order to use Mercurius, you need to use a <a href="https://platatus.herokuapp.com/#service-worker">browser that supports Service Workers</a>.</h3>
  </div>
</div>

<script src="localforage.min.js"></script>
<script src="quagga.min.js"></script>
<script src="./index.js"></script>
